body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('lol.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 40px;
  }
  
  .title {
    color: white;
    font-size: 10rem;
    font-weight: bold;
  }
  